:host {
  display: block;
}

::ng-deep {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: transparent !important;
    box-shadow: none !important;
    border-radius: 2.5rem !important;
  }

  .custom-no-subscript {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
    .mat-mdc-text-field-wrapper {
      background: transparent !important;
      padding: 0 16px !important;
    }
    .mat-mdc-form-field-flex {
      padding: 0 !important;
    }
  }
}
