# Java & Maven
target/
*.class
*.jar
*.war
*.ear

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs (IntelliJ, VS Code)
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath

# System
.DS_Store
Thumbs.db