
:root {
  --ion-background-color: #05070a !important;
  --ion-text-color: #ffffff !important;
  --ion-toolbar-background: #05070a !important;
  --ion-border-color: transparent !important;
}

ion-app, ion-content, ion-header, ion-toolbar {
  background: #05070a !important;
  --background: #05070a !important;
  color: white !important;
}

ion-toolbar {
  --border-style: none !important;
  border-style: none !important;
}
