::ng-deep {
  // Usuwa dolną linię w stanie spoczynku i fokusie
  .mat-mdc-form-field-focus-indicator,
  .mat-mdc-form-field-bottom-align,
  .mdc-line-ripple {
    display: none !important;
  }

  // Usuwa domyślne dopełnienia (padding), które robi Material
  .mat-mdc-text-field-wrapper {
    padding: 0 !important;
    background-color: transparent !important;
  }

  // Centruje tekst wewnątrz pola, jeśli samo class="text-center" w input to za mało
  .mat-mdc-form-field-infix {
    padding: 0 !important;
    min-height: unset !important;
    display: flex;
    align-items: center;
  }
}
